.gridContainer2 {
  display: flex;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 3%;
}

.gridContainer2 .btn {
  width: 100%;
  color: #fff;
  background-color: #0fb36c;
  border: 1px solid #fff;
  padding: 5px;
  font-size: large;
  text-align: center;
  border-radius: 0%;
}

@media (max-width: 768px) {
  .gridContainer2 {
    flex-wrap: wrap;
  }

  .gridContainer2 .btn {
    width: 50%;
    font-size: small;
  }
}
